provider "aws" {
  region = "ap-south-1"
}

resource "null_resource" "deploy_docker_image" {
  provisioner "remote-exec" {
    inline = [
      "sudo apt update -y",
      "sudo apt install -y docker.io",
      "sudo systemctl start docker",
      "sudo systemctl enable docker",
      "sudo docker pull your_dockerhub_username/your_image_name:latest",
      "sudo docker run -d -p 5000:5000 your_dockerhub_username/your_image_name:latest"
    ]

    connection {
      type        = "ssh"
      user        = "ubuntu"
      host        = "YOUR_EC2_PUBLIC_IP"
      private_key = file("C:/Users/Rahul gitte/Downloads/AWS_PROJECT/Always.Pem.pem")
    }
  }
}
